{"openapi":"3.1.0","info":{"title":"Buildin Developer API V2","version":"2.0.0","description":"Machine-readable OpenAPI spec for Buildin V2 API."},"servers":[{"url":"https://api.buildin.ai","description":"Production"},{"url":"https://test-api.flowus.xyz","description":"Test"}],"tags":[{"name":"search","description":"Search and semantic search"},{"name":"users","description":"User and bot identity"},{"name":"pages","description":"Page operations"},{"name":"blocks","description":"Block operations"},{"name":"databases","description":"Database operations"},{"name":"markdown","description":"Markdown extensions"},{"name":"files","description":"File upload extensions"}],"security":[{"bearerAuth":[]}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Buildin integration token or OAuth access token"}},"schemas":{"Error":{"type":"object","required":["object","status","code","message","request_id"],"properties":{"object":{"type":"string","const":"error"},"status":{"type":"integer"},"code":{"type":"string","enum":["validation_error","unauthorized","forbidden","not_found","conflict","idempotency_conflict","rate_limited","unsupported_filter","unsupported_sort","unsupported_block_type","internal_error"]},"message":{"type":"string"},"request_id":{"type":"string"},"details":{"type":"array","items":{"type":"object","properties":{"path":{"type":"string"},"reason":{"type":"string"},"limit":{"type":"number"},"actual":{"type":"number"}},"additionalProperties":true}}},"additionalProperties":false},"ListMeta":{"type":"object","required":["object","results","next_cursor","has_more"],"properties":{"object":{"type":"string","const":"list"},"results":{"type":"array","items":{}},"next_cursor":{"type":["string","null"]},"has_more":{"type":"boolean"}}},"UserRef":{"type":"object","required":["object","id"],"properties":{"object":{"type":"string","const":"user"},"id":{"type":"string"}},"additionalProperties":false},"User":{"type":"object","required":["object","id","type","name","avatar_url","person"],"properties":{"object":{"type":"string","const":"user"},"id":{"type":"string"},"type":{"type":"string","const":"person"},"name":{"type":"string"},"avatar_url":{"type":["string","null"]},"person":{"type":"object","required":["email"],"properties":{"email":{"description":"Present only when the token also has `users.email.read`; otherwise `null`.","type":["string","null"]}}}},"additionalProperties":false},"BotUser":{"type":"object","required":["object","id","name","workspace_id","workspace_name","owner","capabilities","type","integration_id"],"properties":{"object":{"type":"string","const":"bot_user"},"id":{"type":"string"},"name":{"type":"string"},"workspace_id":{"type":"string"},"workspace_name":{"type":"string"},"owner":{"$ref":"#/components/schemas/UserRef"},"capabilities":{"type":"object","additionalProperties":{"type":"boolean"}},"type":{"type":"string","const":"integration"},"integration_id":{"type":["string","null"]}},"additionalProperties":false},"RichText":{"type":"object","required":["type","annotations","plain_text","href"],"properties":{"type":{"type":"string","enum":["text","mention","equation"]},"text":{"type":"object","properties":{"content":{"type":"string"},"link":{"type":["object","null"],"properties":{"url":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false},"mention":{"type":"object","properties":{"type":{"type":"string","enum":["page","user","date"]},"page":{"type":"object","properties":{"id":{"type":"string"}},"additionalProperties":false},"user":{"$ref":"#/components/schemas/UserRef"},"date":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":["string","null"]},"time_zone":{"type":["string","null"]}},"additionalProperties":false}},"additionalProperties":true},"equation":{"type":"object","properties":{"expression":{"type":"string"}},"additionalProperties":false},"annotations":{"type":"object","required":["bold","italic","strikethrough","underline","code"],"properties":{"bold":{"type":"boolean"},"italic":{"type":"boolean"},"strikethrough":{"type":"boolean"},"underline":{"type":"boolean"},"code":{"type":"boolean"},"color":{"type":"string","deprecated":true,"x-agent-hidden":true,"description":"Legacy single-channel color. Use text_color and background_color for lossless formatting."},"text_color":{"type":"string","enum":["default","black","gray","brown","orange","pink","yellow","green","blue","purple","red"],"description":"Text color. default clears the text-color channel."},"background_color":{"type":"string","enum":["default","gray","brown","orange","pink","yellow","green","blue","purple","red","light_yellow","light_green","light_blue","light_purple","light_red","yellow_green","green_blue","blue_purple","purple_red","red_orange"],"description":"Background color. default clears the background-color channel."}},"additionalProperties":false},"plain_text":{"type":"string"},"href":{"type":["string","null"]}},"additionalProperties":true},"Icon":{"oneOf":[{"type":"object","required":["type","emoji"],"properties":{"type":{"type":"string","const":"emoji"},"emoji":{"type":"string"}},"additionalProperties":false},{"type":"object","required":["type","external"],"properties":{"type":{"type":"string","const":"external"},"external":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false},{"type":"object","required":["type","file"],"properties":{"type":{"type":"string","const":"file"},"file":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"expiry_time":{"type":"string","format":"date-time"}},"additionalProperties":false}},"additionalProperties":false}]},"Cover":{"oneOf":[{"type":"object","required":["type","external"],"properties":{"type":{"type":"string","const":"external"},"external":{"type":"object","required":["url"],"properties":{"url":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false},{"type":"object","required":["type","file"],"properties":{"type":{"type":"string","const":"file"},"file":{"type":"object","required":["url"],"properties":{"url":{"type":"string"},"expiry_time":{"type":"string","format":"date-time"}},"additionalProperties":false}},"additionalProperties":false}]},"SelectOption":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"color":{"type":"string","enum":["default","grey","brown","orange","yellow","green","blue","purple","pink","red"]}},"additionalProperties":false,"required":["name"]},"DateValue":{"type":"object","properties":{"start":{"type":"string"},"end":{"type":["string","null"]},"time_zone":{"type":["string","null"]}},"additionalProperties":false,"required":["start","end","time_zone"]},"FileReference":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["file","external"]},"file":{"type":"object","properties":{"url":{"type":"string"},"expiry_time":{"type":"string","format":"date-time"}},"additionalProperties":false,"required":["url"]},"external":{"type":"object","properties":{"url":{"type":"string"}},"additionalProperties":false,"required":["url"]}},"additionalProperties":false,"required":["name","type"]},"FormulaValue":{"type":"object","properties":{"type":{"type":"string","enum":["string","number","boolean","date"]},"string":{"type":["string","null"]},"number":{"type":["number","null"]},"boolean":{"type":["boolean","null"]},"date":{"oneOf":[{"$ref":"#/components/schemas/DateValue"},{"type":"null"}]}},"additionalProperties":false,"required":["type"]},"RollupValue":{"type":"object","properties":{"type":{"type":"string","enum":["number","date","array"]},"number":{"type":["number","null"]},"date":{"oneOf":[{"$ref":"#/components/schemas/DateValue"},{"type":"null"}]},"array":{"type":"array","items":{}},"function":{"type":"string"}},"additionalProperties":false,"required":["type"]},"IdRef":{"type":"object","properties":{"id":{"type":"string"}},"additionalProperties":false,"required":["id"]},"Parent":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"workspace"},"workspace":{"type":"boolean","const":true}},"additionalProperties":false,"required":["type","workspace"]},{"type":"object","properties":{"type":{"type":"string","const":"page_id"},"page_id":{"type":"string"}},"additionalProperties":false,"required":["type","page_id"]},{"type":"object","properties":{"type":{"type":"string","const":"database_id"},"database_id":{"type":"string"}},"additionalProperties":false,"required":["type","database_id"]},{"type":"object","properties":{"type":{"type":"string","const":"block_id"},"block_id":{"type":"string"}},"additionalProperties":false,"required":["type","block_id"]}],"discriminator":{"propertyName":"type"}},"PropertySchema":{"oneOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"title"},"title":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"rich_text"},"rich_text":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"number"},"number":{"type":"object","properties":{"format":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"select"},"select":{"type":"object","properties":{"options":{"type":"array","items":{"$ref":"#/components/schemas/SelectOption"}}},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"multi_select"},"multi_select":{"type":"object","properties":{"options":{"type":"array","items":{"$ref":"#/components/schemas/SelectOption"}}},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"date"},"date":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"people"},"people":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"files"},"files":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"checkbox"},"checkbox":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"url"},"url":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"email"},"email":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"phone_number"},"phone_number":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"formula"},"formula":{"type":"object","properties":{"expression":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"relation"},"relation":{"type":"object","properties":{"database_id":{"type":["string","null"]},"type":{"type":"string","enum":["single_property","dual_property"]},"synced_property_id":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"rollup"},"rollup":{"type":"object","properties":{"relation_property_id":{"type":["string","null"]},"rollup_property_id":{"type":["string","null"]},"function":{"type":"string"}},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"created_time"},"created_time":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"created_by"},"created_by":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"last_edited_time"},"last_edited_time":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]},{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","const":"last_edited_by"},"last_edited_by":{"type":"object","properties":{},"additionalProperties":false}},"additionalProperties":false,"required":["type"]}],"discriminator":{"propertyName":"type"}},"PropertyValue":{"oneOf":[{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"title"},"title":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}}},"additionalProperties":false,"required":["type","title"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"rich_text"},"rich_text":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}}},"additionalProperties":false,"required":["type","rich_text"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"number"},"number":{"type":["number","null"]}},"additionalProperties":false,"required":["type","number"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"select"},"select":{"oneOf":[{"$ref":"#/components/schemas/SelectOption"},{"type":"null"}]}},"additionalProperties":false,"required":["type","select"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"multi_select"},"multi_select":{"type":"array","items":{"$ref":"#/components/schemas/SelectOption"}}},"additionalProperties":false,"required":["type","multi_select"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"date"},"date":{"oneOf":[{"$ref":"#/components/schemas/DateValue"},{"type":"null"}]}},"additionalProperties":false,"required":["type","date"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"people"},"people":{"type":"array","items":{"$ref":"#/components/schemas/UserRef"}}},"additionalProperties":false,"required":["type","people"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"files"},"files":{"type":"array","items":{"$ref":"#/components/schemas/FileReference"}}},"additionalProperties":false,"required":["type","files"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"checkbox"},"checkbox":{"type":"boolean"}},"additionalProperties":false,"required":["type","checkbox"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"url"},"url":{"type":["string","null"]}},"additionalProperties":false,"required":["type","url"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"email"},"email":{"type":["string","null"]}},"additionalProperties":false,"required":["type","email"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"phone_number"},"phone_number":{"type":["string","null"]}},"additionalProperties":false,"required":["type","phone_number"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"formula"},"formula":{"oneOf":[{"$ref":"#/components/schemas/FormulaValue"},{"type":"null"}]}},"additionalProperties":false,"required":["type","formula"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"relation"},"relation":{"type":"array","items":{"$ref":"#/components/schemas/IdRef"}}},"additionalProperties":false,"required":["type","relation"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"rollup"},"rollup":{"oneOf":[{"$ref":"#/components/schemas/RollupValue"},{"type":"null"}]}},"additionalProperties":false,"required":["type","rollup"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"created_time"},"created_time":{"type":["string","null"]}},"additionalProperties":false,"required":["type","created_time"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"created_by"},"created_by":{"oneOf":[{"$ref":"#/components/schemas/UserRef"},{"type":"null"}]}},"additionalProperties":false,"required":["type","created_by"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"last_edited_time"},"last_edited_time":{"type":["string","null"]}},"additionalProperties":false,"required":["type","last_edited_time"]},{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string","const":"last_edited_by"},"last_edited_by":{"oneOf":[{"$ref":"#/components/schemas/UserRef"},{"type":"null"}]}},"additionalProperties":false,"required":["type","last_edited_by"]}],"discriminator":{"propertyName":"type"}},"PropertyItemBase":{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","enum":["title","rich_text","number","select","multi_select","date","people","files","checkbox","url","email","phone_number","formula","relation","rollup","created_time","created_by","last_edited_time","last_edited_by"]}},"additionalProperties":false,"required":["object","id","type"]},"PaginatedPropertyItemResponse":{"type":"object","properties":{"object":{"type":"string","const":"list"},"type":{"type":"string","const":"property_item"},"property_item":{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","enum":["title","rich_text","relation","people"]}},"additionalProperties":false,"required":["object","id","type"]},"results":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/RichText"},{"$ref":"#/components/schemas/IdRef"},{"$ref":"#/components/schemas/UserRef"}]}},"has_more":{"type":"boolean"},"next_cursor":{"type":["string","null"]}},"additionalProperties":false,"required":["object","type","property_item","results","has_more","next_cursor"]},"DirectPropertyItemResponse":{"oneOf":[{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"number"},"number":{"type":["number","null"]}},"additionalProperties":false,"required":["object","id","type","number"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"select"},"select":{"oneOf":[{"$ref":"#/components/schemas/SelectOption"},{"type":"null"}]}},"additionalProperties":false,"required":["object","id","type","select"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"multi_select"},"multi_select":{"type":"array","items":{"$ref":"#/components/schemas/SelectOption"}}},"additionalProperties":false,"required":["object","id","type","multi_select"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"date"},"date":{"oneOf":[{"$ref":"#/components/schemas/DateValue"},{"type":"null"}]}},"additionalProperties":false,"required":["object","id","type","date"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"files"},"files":{"type":"array","items":{"$ref":"#/components/schemas/FileReference"}}},"additionalProperties":false,"required":["object","id","type","files"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"checkbox"},"checkbox":{"type":"boolean"}},"additionalProperties":false,"required":["object","id","type","checkbox"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"url"},"url":{"type":["string","null"]}},"additionalProperties":false,"required":["object","id","type","url"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"email"},"email":{"type":["string","null"]}},"additionalProperties":false,"required":["object","id","type","email"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"phone_number"},"phone_number":{"type":["string","null"]}},"additionalProperties":false,"required":["object","id","type","phone_number"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"formula"},"formula":{"oneOf":[{"$ref":"#/components/schemas/FormulaValue"},{"type":"null"}]}},"additionalProperties":false,"required":["object","id","type","formula"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"rollup"},"rollup":{"oneOf":[{"$ref":"#/components/schemas/RollupValue"},{"type":"null"}]}},"additionalProperties":false,"required":["object","id","type","rollup"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"created_time"},"created_time":{"type":["string","null"]}},"additionalProperties":false,"required":["object","id","type","created_time"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"created_by"},"created_by":{"oneOf":[{"$ref":"#/components/schemas/UserRef"},{"type":"null"}]}},"additionalProperties":false,"required":["object","id","type","created_by"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"last_edited_time"},"last_edited_time":{"type":["string","null"]}},"additionalProperties":false,"required":["object","id","type","last_edited_time"]},{"type":"object","properties":{"object":{"type":"string","const":"property_item"},"id":{"type":"string"},"type":{"type":"string","const":"last_edited_by"},"last_edited_by":{"oneOf":[{"$ref":"#/components/schemas/UserRef"},{"type":"null"}]}},"additionalProperties":false,"required":["object","id","type","last_edited_by"]}]},"PagePropertyResponse":{"oneOf":[{"$ref":"#/components/schemas/PaginatedPropertyItemResponse"},{"$ref":"#/components/schemas/DirectPropertyItemResponse"}]},"TextFilterCondition":{"type":"object","properties":{"equals":{"type":"string"},"does_not_equal":{"type":"string"},"contains":{"type":"string"},"does_not_contain":{"type":"string"},"starts_with":{"type":"string"},"ends_with":{"type":"string"},"is_empty":{"type":"boolean"},"is_not_empty":{"type":"boolean"}},"additionalProperties":false,"minProperties":1,"maxProperties":1},"NumberFilterCondition":{"type":"object","properties":{"equals":{"type":"number"},"does_not_equal":{"type":"number"},"greater_than":{"type":"number"},"less_than":{"type":"number"},"greater_than_or_equal_to":{"type":"number"},"less_than_or_equal_to":{"type":"number"},"is_empty":{"type":"boolean"},"is_not_empty":{"type":"boolean"}},"additionalProperties":false,"minProperties":1,"maxProperties":1},"CheckboxFilterCondition":{"type":"object","properties":{"equals":{"type":"boolean"},"does_not_equal":{"type":"boolean"}},"additionalProperties":false,"minProperties":1,"maxProperties":1},"DateFilterCondition":{"type":"object","properties":{"equals":{"type":"string"},"before":{"type":"string"},"after":{"type":"string"},"on_or_before":{"type":"string"},"on_or_after":{"type":"string"},"is_empty":{"type":"boolean"},"is_not_empty":{"type":"boolean"}},"additionalProperties":false,"minProperties":1,"maxProperties":1},"SelectFilterCondition":{"type":"object","properties":{"equals":{"type":"string"},"does_not_equal":{"type":"string"},"is_empty":{"type":"boolean"},"is_not_empty":{"type":"boolean"}},"additionalProperties":false,"minProperties":1,"maxProperties":1},"ContainsFilterCondition":{"type":"object","properties":{"contains":{"type":"string"},"does_not_contain":{"type":"string"},"is_empty":{"type":"boolean"},"is_not_empty":{"type":"boolean"}},"additionalProperties":false,"minProperties":1,"maxProperties":1},"FilesFilterCondition":{"type":"object","properties":{"is_empty":{"type":"boolean"},"is_not_empty":{"type":"boolean"}},"additionalProperties":false,"minProperties":1,"maxProperties":1},"DatabaseQueryFilter":{"oneOf":[{"type":"object","properties":{"and":{"type":"array","maxItems":100,"items":{"$ref":"#/components/schemas/DatabaseQueryFilter"}}},"additionalProperties":false,"required":["and"]},{"type":"object","properties":{"or":{"type":"array","maxItems":100,"items":{"$ref":"#/components/schemas/DatabaseQueryFilter"}}},"additionalProperties":false,"required":["or"]},{"type":"object","properties":{"timestamp":{"type":"string","const":"created_time"},"created_time":{"$ref":"#/components/schemas/DateFilterCondition"}},"additionalProperties":false,"required":["timestamp","created_time"]},{"type":"object","properties":{"timestamp":{"type":"string","const":"last_edited_time"},"last_edited_time":{"$ref":"#/components/schemas/DateFilterCondition"}},"additionalProperties":false,"required":["timestamp","last_edited_time"]},{"type":"object","properties":{"property":{"type":"string"},"title":{"$ref":"#/components/schemas/TextFilterCondition"}},"additionalProperties":false,"required":["property","title"]},{"type":"object","properties":{"property":{"type":"string"},"rich_text":{"$ref":"#/components/schemas/TextFilterCondition"}},"additionalProperties":false,"required":["property","rich_text"]},{"type":"object","properties":{"property":{"type":"string"},"number":{"$ref":"#/components/schemas/NumberFilterCondition"}},"additionalProperties":false,"required":["property","number"]},{"type":"object","properties":{"property":{"type":"string"},"select":{"$ref":"#/components/schemas/SelectFilterCondition"}},"additionalProperties":false,"required":["property","select"]},{"type":"object","properties":{"property":{"type":"string"},"multi_select":{"$ref":"#/components/schemas/ContainsFilterCondition"}},"additionalProperties":false,"required":["property","multi_select"]},{"type":"object","properties":{"property":{"type":"string"},"date":{"$ref":"#/components/schemas/DateFilterCondition"}},"additionalProperties":false,"required":["property","date"]},{"type":"object","properties":{"property":{"type":"string"},"people":{"$ref":"#/components/schemas/ContainsFilterCondition"}},"additionalProperties":false,"required":["property","people"]},{"type":"object","properties":{"property":{"type":"string"},"relation":{"$ref":"#/components/schemas/ContainsFilterCondition"}},"additionalProperties":false,"required":["property","relation"]},{"type":"object","properties":{"property":{"type":"string"},"files":{"$ref":"#/components/schemas/FilesFilterCondition"}},"additionalProperties":false,"required":["property","files"]},{"type":"object","properties":{"property":{"type":"string"},"checkbox":{"$ref":"#/components/schemas/CheckboxFilterCondition"}},"additionalProperties":false,"required":["property","checkbox"]},{"type":"object","properties":{"property":{"type":"string"},"url":{"$ref":"#/components/schemas/TextFilterCondition"}},"additionalProperties":false,"required":["property","url"]},{"type":"object","properties":{"property":{"type":"string"},"email":{"$ref":"#/components/schemas/TextFilterCondition"}},"additionalProperties":false,"required":["property","email"]},{"type":"object","properties":{"property":{"type":"string"},"phone_number":{"$ref":"#/components/schemas/TextFilterCondition"}},"additionalProperties":false,"required":["property","phone_number"]},{"type":"object","properties":{"property":{"type":"string"},"created_time":{"$ref":"#/components/schemas/DateFilterCondition"}},"additionalProperties":false,"required":["property","created_time"]},{"type":"object","properties":{"property":{"type":"string"},"last_edited_time":{"$ref":"#/components/schemas/DateFilterCondition"}},"additionalProperties":false,"required":["property","last_edited_time"]}]},"DatabaseQuerySort":{"oneOf":[{"type":"object","properties":{"property":{"type":"string"},"direction":{"type":"string","enum":["ascending","descending"]}},"additionalProperties":false,"required":["property"]},{"type":"object","properties":{"timestamp":{"type":"string","enum":["created_time","last_edited_time"]},"direction":{"type":"string","enum":["ascending","descending"]}},"additionalProperties":false,"required":["timestamp"]}]},"Page":{"type":"object","required":["object","id","page_type","created_time","last_edited_time","created_by","last_edited_by","parent","in_trash","icon","cover","properties","url"],"properties":{"object":{"type":"string","const":"page"},"id":{"type":"string"},"page_type":{"type":"string","enum":["page","folder","mind_map"]},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"parent":{"$ref":"#/components/schemas/Parent"},"in_trash":{"type":"boolean"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"properties":{"type":"object","description":"Page properties. For database rows, keys must be the database property display names returned by createDatabase/getDatabase, for example `课程名称` or `星期`; do not use the createDatabase request keys or the generic page key `title` unless that is the actual database property name.","additionalProperties":{"$ref":"#/components/schemas/PropertyValue"}},"url":{"type":"string"}},"additionalProperties":false},"Database":{"type":"object","required":["object","id","created_time","last_edited_time","created_by","last_edited_by","title","description","icon","cover","parent","properties","in_trash","is_inline","url"],"properties":{"object":{"type":"string","const":"database"},"id":{"type":"string"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"title":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"description":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"parent":{"$ref":"#/components/schemas/Parent"},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/PropertySchema"}},"in_trash":{"type":"boolean"},"is_inline":{"type":"boolean"},"url":{"type":"string"}},"additionalProperties":false},"Block":{"oneOf":[{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"paragraph"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"paragraph":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","paragraph"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"heading_1"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"heading_1":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","heading_1"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"heading_2"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"heading_2":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","heading_2"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"heading_3"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"heading_3":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","heading_3"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"bulleted_list_item"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"bulleted_list_item":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","bulleted_list_item"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"numbered_list_item"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"numbered_list_item":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","numbered_list_item"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"to_do"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"to_do":{"$ref":"#/components/schemas/ToDoContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","to_do"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"quote"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"quote":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","quote"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"code"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"code":{"$ref":"#/components/schemas/CodeContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","code"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"callout"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"callout":{"$ref":"#/components/schemas/CalloutContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","callout"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"divider"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"divider":{"$ref":"#/components/schemas/EmptyObject"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","divider"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"bookmark"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"bookmark":{"$ref":"#/components/schemas/BookmarkLikeContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","bookmark"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"embed"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"embed":{"$ref":"#/components/schemas/BookmarkLikeContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","embed"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"image"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"image":{"$ref":"#/components/schemas/FileLikeContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","image"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"file"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"file":{"$ref":"#/components/schemas/FileLikeContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","file"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"table"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"table":{"$ref":"#/components/schemas/TableContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","table"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"table_row"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"table_row":{"$ref":"#/components/schemas/TableRowContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","table_row"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"toggle"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"toggle":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","toggle"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"equation"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"equation":{"$ref":"#/components/schemas/EquationContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","equation"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"link_to_page"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"link_to_page":{"$ref":"#/components/schemas/LinkToPageContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","link_to_page"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"child_page"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"child_page":{"$ref":"#/components/schemas/ChildEntityContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","child_page"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"child_database"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"child_database":{"$ref":"#/components/schemas/ChildEntityContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","child_database"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"template"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"template":{"$ref":"#/components/schemas/TemplateContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","template"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"synced_block"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"synced_block":{"$ref":"#/components/schemas/SyncedBlockContent"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","synced_block"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"column_list"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"column_list":{"$ref":"#/components/schemas/EmptyObject"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","column_list"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"id":{"type":"string"},"parent":{"$ref":"#/components/schemas/Parent"},"created_time":{"type":"string","format":"date-time"},"last_edited_time":{"type":"string","format":"date-time"},"created_by":{"$ref":"#/components/schemas/UserRef"},"last_edited_by":{"$ref":"#/components/schemas/UserRef"},"has_children":{"type":"boolean"},"in_trash":{"type":"boolean"},"type":{"type":"string","const":"column"},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"column":{"$ref":"#/components/schemas/EmptyObject"}},"additionalProperties":false,"required":["object","id","parent","created_time","last_edited_time","created_by","last_edited_by","has_children","in_trash","type","column"]}],"discriminator":{"propertyName":"type"}},"PageListResponse":{"allOf":[{"$ref":"#/components/schemas/ListMeta"},{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/Page"}}}}]},"BlockListResponse":{"allOf":[{"$ref":"#/components/schemas/ListMeta"},{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/Block"}}}}]},"SearchListResponse":{"allOf":[{"$ref":"#/components/schemas/ListMeta"},{"type":"object","properties":{"results":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/Page"},{"$ref":"#/components/schemas/Database"}]}}}}]},"SemanticSearchResult":{"type":"object","required":["object","page_id","page_title","score","snippet","url"],"properties":{"object":{"type":"string","const":"search_result"},"page_id":{"type":"string"},"page_title":{"type":"string"},"score":{"type":["number","null"]},"snippet":{"type":"string"},"url":{"type":"string"}},"additionalProperties":false},"SemanticSearchListResponse":{"allOf":[{"$ref":"#/components/schemas/ListMeta"},{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#/components/schemas/SemanticSearchResult"}}}}]},"MarkdownObject":{"type":"object","required":["object","page_id","markdown","last_edited_time"],"properties":{"object":{"type":"string","const":"markdown"},"page_id":{"type":"string"},"markdown":{"type":"string"},"last_edited_time":{"type":"string","format":"date-time"}},"additionalProperties":false},"FileUploadObject":{"type":"object","required":["object","id","upload_url","oss_name","file_url","size","expiry_time","method","headers"],"properties":{"object":{"type":"string","const":"file_upload"},"id":{"type":"string"},"upload_url":{"type":"string","description":"Presigned URL used by the client to upload bytes."},"oss_name":{"type":"string","description":"Internal object key returned after upload-url allocation. Use this value when creating internal file, image, audio, or video blocks."},"file_url":{"type":"string","description":"Deprecated compatibility CDN URL. Prefer oss_name for new integrations."},"size":{"type":"integer","minimum":0,"description":"Original file size in bytes. This value is required as file.size when creating internal file, image, audio, or video blocks."},"expiry_time":{"type":"string","format":"date-time"},"method":{"type":"string","const":"PUT"},"headers":{"type":"object","description":"Headers to send with the PUT upload. Do not add a manual Content-Length header; let the HTTP client compute it from the file bytes.","additionalProperties":{"type":"string"}}},"additionalProperties":false},"FileDownloadFile":{"type":"object","required":["url","expiry_time","oss_name"],"properties":{"url":{"type":"string","description":"Temporary authenticated URL for the requested file."},"expiry_time":{"type":"string","format":"date-time"},"oss_name":{"type":"string","description":"Internal object key for this file variant."}},"additionalProperties":false},"FileDownloadObject":{"type":"object","required":["object","name","type","file","ttl"],"properties":{"object":{"type":"string","const":"file"},"name":{"type":"string"},"type":{"type":"string","const":"file"},"file":{"$ref":"#/components/schemas/FileDownloadFile"},"compressed_file":{"$ref":"#/components/schemas/FileDownloadFile"},"ttl":{"type":"integer","minimum":1,"description":"Number of seconds for which the returned URLs are valid."}},"additionalProperties":false},"EmptyObject":{"type":"object","properties":{},"additionalProperties":false},"BlockTextContent":{"type":"object","properties":{"rich_text":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"color":{"type":"string","deprecated":true,"x-agent-hidden":true,"description":"Legacy single-channel color. Use text_color and background_color for lossless formatting."},"text_color":{"type":"string","enum":["default","black","gray","brown","orange","pink","yellow","green","blue","purple","red"],"description":"Text color. default clears the text-color channel."},"background_color":{"type":"string","enum":["default","gray","brown","orange","pink","yellow","green","blue","purple","red","light_yellow","light_green","light_blue","light_purple","light_red","yellow_green","green_blue","blue_purple","purple_red","red_orange"],"description":"Background color. default clears the background-color channel."},"text_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["rich_text"]},"HeadingContent":{"type":"object","properties":{"rich_text":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"color":{"type":"string","deprecated":true,"x-agent-hidden":true,"description":"Legacy single-channel color. Use text_color and background_color for lossless formatting."},"text_color":{"type":"string","enum":["default","black","gray","brown","orange","pink","yellow","green","blue","purple","red"],"description":"Text color. default clears the text-color channel."},"background_color":{"type":"string","enum":["default","gray","brown","orange","pink","yellow","green","blue","purple","red","light_yellow","light_green","light_blue","light_purple","light_red","yellow_green","green_blue","blue_purple","purple_red","red_orange"],"description":"Background color. default clears the background-color channel."},"is_toggleable":{"type":"boolean"},"text_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["rich_text"]},"ToDoContent":{"type":"object","properties":{"rich_text":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"checked":{"type":"boolean"},"color":{"type":"string","deprecated":true,"x-agent-hidden":true,"description":"Legacy single-channel color. Use text_color and background_color for lossless formatting."},"text_color":{"type":"string","enum":["default","black","gray","brown","orange","pink","yellow","green","blue","purple","red"],"description":"Text color. default clears the text-color channel."},"background_color":{"type":"string","enum":["default","gray","brown","orange","pink","yellow","green","blue","purple","red","light_yellow","light_green","light_blue","light_purple","light_red","yellow_green","green_blue","blue_purple","purple_red","red_orange"],"description":"Background color. default clears the background-color channel."},"text_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["rich_text"]},"CodeContent":{"type":"object","properties":{"rich_text":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"language":{"type":"string"},"text_align":{"type":"string","enum":["left","center","right"]},"display_mode":{"type":"string","enum":["source","split","preview"],"description":"Code presentation mode. split and preview are supported for Mermaid blocks; other languages use source. Defaults to split for Mermaid and source otherwise."}},"additionalProperties":false,"required":["rich_text"]},"CalloutContent":{"type":"object","properties":{"rich_text":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"color":{"type":"string","deprecated":true,"x-agent-hidden":true,"description":"Legacy single-channel color. Use text_color and background_color for lossless formatting."},"text_color":{"type":"string","enum":["default","black","gray","brown","orange","pink","yellow","green","blue","purple","red"],"description":"Text color. default clears the text-color channel."},"background_color":{"type":"string","enum":["default","gray","brown","orange","pink","yellow","green","blue","purple","red","light_yellow","light_green","light_blue","light_purple","light_red","yellow_green","green_blue","blue_purple","purple_red","red_orange"],"description":"Background color. default clears the background-color channel."},"icon":{"$ref":"#/components/schemas/Icon"},"text_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["rich_text"]},"BookmarkLikeContent":{"type":"object","properties":{"url":{"type":"string"},"caption":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"text_align":{"type":"string","enum":["left","center","right"]},"caption_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["url"]},"FileLikeContent":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"external"},"external":{"type":"object","properties":{"url":{"type":"string"}},"additionalProperties":false,"required":["url"]},"caption":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"text_align":{"type":"string","enum":["left","center","right"]},"caption_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["external"]},{"type":"object","properties":{"type":{"type":"string","const":"file"},"file":{"type":"object","properties":{"url":{"type":"string","description":"Temporary file URL returned in API responses."},"oss_name":{"type":"string","description":"Internal object key from /v2/files/upload-url. Prefer this when creating internal file, image, audio, or video blocks."},"content_type":{"type":"string","description":"Original MIME type. Used to infer file display when the object key extension is ambiguous."},"size":{"type":"integer","minimum":0,"description":"Original file size in bytes. Required when oss_name is provided for internal file, image, audio, or video blocks."},"expiry_time":{"type":"string","format":"date-time"}},"additionalProperties":false,"anyOf":[{"required":["url"]},{"required":["oss_name","size"]}]},"caption":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"text_align":{"type":"string","enum":["left","center","right"]},"caption_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["file"]}]},"TableContent":{"type":"object","properties":{"table_width":{"type":"integer","minimum":1},"has_column_header":{"type":"boolean"},"has_row_header":{"type":"boolean"},"width_mode":{"type":"string","enum":["fixed","adaptive"],"default":"fixed","description":"Table column layout. adaptive fits equal-width columns to the standard page content width; fixed uses the stored/default column widths."}},"additionalProperties":false,"required":["table_width"]},"TableRowContent":{"type":"object","properties":{"cells":{"type":"array","items":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}}}},"additionalProperties":false,"required":["cells"]},"EquationContent":{"type":"object","properties":{"expression":{"type":"string"},"text_align":{"type":"string","enum":["left","center","right"]}},"additionalProperties":false,"required":["expression"]},"LinkToPageContent":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"page_id"},"page_id":{"type":"string"}},"additionalProperties":false,"required":["type","page_id"]},{"type":"object","properties":{"type":{"type":"string","const":"database_id"},"database_id":{"type":"string"}},"additionalProperties":false,"required":["type","database_id"]}]},"ChildEntityContent":{"type":"object","properties":{"title":{"type":"string"}},"additionalProperties":false,"required":["title"]},"TemplateContent":{"type":"object","properties":{"rich_text":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}}},"additionalProperties":false,"required":["rich_text"]},"SyncedBlockContent":{"type":"object","properties":{"synced_from":{"oneOf":[{"type":"object","properties":{"block_id":{"type":"string"}},"additionalProperties":false,"required":["block_id"]},{"type":"null"}]},"children":{"type":"array","items":{"$ref":"#/components/schemas/Block"}}},"additionalProperties":false,"required":["synced_from"]},"MovePageResult":{"type":"object","properties":{"object":{"type":"string","const":"move_result"},"id":{"type":"string"},"object_type":{"type":"string","enum":["page","database","mind_map","folder"]},"parent":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"workspace"},"workspace":{"type":"boolean","const":true}},"additionalProperties":false,"required":["type","workspace"]},{"type":"object","properties":{"type":{"type":"string","const":"page_id"},"page_id":{"type":"string"}},"additionalProperties":false,"required":["type","page_id"]},{"type":"object","properties":{"type":{"type":"string","const":"database_id"},"database_id":{"type":"string"}},"additionalProperties":false,"required":["type","database_id"]},{"type":"object","properties":{"type":{"type":"string","const":"block_id"},"block_id":{"type":"string"}},"additionalProperties":false,"required":["type","block_id"]}],"discriminator":{"propertyName":"type"}},"after":{"type":["string","null"]},"before":{"type":["string","null"]}},"additionalProperties":false,"required":["object","id","object_type","parent","after","before"]},"SearchRequest":{"type":"object","properties":{"query":{"type":"string"},"filter":{"type":"object","properties":{"property":{"type":"string","const":"object"},"value":{"type":"string","enum":["page","database","folder","mind_map"]}},"additionalProperties":false},"sort":{"type":"object","properties":{"timestamp":{"type":"string","enum":["last_edited_time","created_time"]},"direction":{"type":"string","enum":["ascending","descending"]}},"additionalProperties":false},"start_cursor":{"type":["string","null"]},"page_size":{"type":"integer","minimum":1,"maximum":100}},"additionalProperties":false},"SemanticSearchRequest":{"type":"object","required":["query"],"properties":{"query":{"type":"string"},"space_id":{"type":"string"},"page_size":{"type":"integer","minimum":1,"maximum":50},"score_threshold":{"type":"number","minimum":0,"maximum":1}},"additionalProperties":false},"BlockInput":{"oneOf":[{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"paragraph"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"paragraph":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["type","paragraph"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"heading_1"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"heading_1":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["type","heading_1"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"heading_2"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"heading_2":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["type","heading_2"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"heading_3"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"heading_3":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["type","heading_3"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"bulleted_list_item"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"bulleted_list_item":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["type","bulleted_list_item"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"numbered_list_item"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"numbered_list_item":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["type","numbered_list_item"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"to_do"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"to_do":{"$ref":"#/components/schemas/ToDoContent"}},"additionalProperties":false,"required":["type","to_do"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"quote"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"quote":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["type","quote"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"code"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"code":{"$ref":"#/components/schemas/CodeContent"}},"additionalProperties":false,"required":["type","code"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"callout"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"callout":{"$ref":"#/components/schemas/CalloutContent"}},"additionalProperties":false,"required":["type","callout"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"divider"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"divider":{"$ref":"#/components/schemas/EmptyObject"}},"additionalProperties":false,"required":["type","divider"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"bookmark"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"bookmark":{"$ref":"#/components/schemas/BookmarkLikeContent"}},"additionalProperties":false,"required":["type","bookmark"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"embed"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"embed":{"$ref":"#/components/schemas/BookmarkLikeContent"}},"additionalProperties":false,"required":["type","embed"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"image"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"image":{"$ref":"#/components/schemas/FileLikeContent"}},"additionalProperties":false,"required":["type","image"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"file"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"file":{"$ref":"#/components/schemas/FileLikeContent"}},"additionalProperties":false,"required":["type","file"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"table"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"table":{"$ref":"#/components/schemas/TableContent"}},"additionalProperties":false,"required":["type","table"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"table_row"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"table_row":{"$ref":"#/components/schemas/TableRowContent"}},"additionalProperties":false,"required":["type","table_row"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"toggle"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"toggle":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["type","toggle"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"equation"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"equation":{"$ref":"#/components/schemas/EquationContent"}},"additionalProperties":false,"required":["type","equation"]},{"type":"object","properties":{"object":{"type":"string","const":"block"},"type":{"type":"string","const":"link_to_page"},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"link_to_page":{"$ref":"#/components/schemas/LinkToPageContent"}},"additionalProperties":false,"required":["type","link_to_page"]}],"discriminator":{"propertyName":"type"}},"CreatePageRequest":{"type":"object","properties":{"parent":{"description":"Optional. If omitted, the page is created in the current authenticated workspace root.","oneOf":[{"type":"object","properties":{"page_id":{"type":"string"}},"additionalProperties":false,"required":["page_id"]},{"type":"object","properties":{"database_id":{"type":"string"}},"additionalProperties":false,"required":["database_id"]}]},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"properties":{"type":"object","description":"Page properties. For database rows, keys must be the database property display names returned by getDatabase; unknown property names are rejected.","additionalProperties":{"$ref":"#/components/schemas/PropertyValue"}},"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}}},"additionalProperties":false},"UpdatePageRequest":{"type":"object","properties":{"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/PropertyValue"}}},"additionalProperties":false},"MovePageRequest":{"type":"object","required":["parent"],"properties":{"parent":{"oneOf":[{"type":"object","properties":{"workspace":{"type":"boolean","const":true}},"additionalProperties":false,"required":["workspace"]},{"type":"object","properties":{"page_id":{"type":"string"}},"additionalProperties":false,"required":["page_id"]},{"type":"object","properties":{"database_id":{"type":"string"}},"additionalProperties":false,"required":["database_id"]}]},"after":{"type":"string"},"before":{"type":"string"}},"not":{"required":["after","before"]},"additionalProperties":false},"CreateDatabaseRequest":{"type":"object","required":["properties"],"properties":{"parent":{"description":"Optional. If omitted, the database is created in the current authenticated workspace root.","type":"object","properties":{"page_id":{"type":"string","format":"uuid"}},"additionalProperties":false,"required":["page_id"]},"title":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"description":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/PropertySchema"}},"is_inline":{"type":"boolean"}},"additionalProperties":false},"UpdateDatabaseRequest":{"type":"object","properties":{"title":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"description":{"type":"array","items":{"$ref":"#/components/schemas/RichText"}},"icon":{"oneOf":[{"$ref":"#/components/schemas/Icon"},{"type":"null"}]},"cover":{"oneOf":[{"$ref":"#/components/schemas/Cover"},{"type":"null"}]},"properties":{"type":"object","additionalProperties":{"oneOf":[{"$ref":"#/components/schemas/PropertySchema"},{"type":"null"}]}}},"additionalProperties":false},"DatabaseMutationRequest":{"type":"object","description":"Non-destructive database changes executed in one transaction. Use PropertySchema.id to rename an existing property; omitting id adds or reuses a property by name.","properties":{"properties":{"type":"object","maxProperties":20,"additionalProperties":{"$ref":"#/components/schemas/PropertySchema"}},"create_records":{"type":"array","maxItems":100,"items":{"type":"object","required":["title"],"properties":{"title":{"type":"string","minLength":1,"maxLength":2000},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/PropertyValue"}}},"additionalProperties":false}},"update_records":{"type":"array","maxItems":100,"items":{"type":"object","required":["record_id","properties"],"properties":{"record_id":{"type":"string","format":"uuid"},"properties":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/PropertyValue"}}},"additionalProperties":false}}},"additionalProperties":false,"minProperties":1},"DatabaseMutationResult":{"type":"object","required":["object","database_id","updated_properties","created_records","updated_records"],"properties":{"object":{"type":"string","const":"database_mutation"},"database_id":{"type":"string","format":"uuid"},"updated_properties":{"type":"array","items":{"type":"object","required":["id","name","type","created"],"properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"created":{"type":"boolean"}},"additionalProperties":false}},"created_records":{"type":"array","items":{"type":"object","required":["id","title"],"properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"}},"additionalProperties":false}},"updated_records":{"type":"array","items":{"type":"object","required":["id","title"],"properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"}},"additionalProperties":false}}},"additionalProperties":false},"QueryDatabaseRequest":{"type":"object","properties":{"filter":{"$ref":"#/components/schemas/DatabaseQueryFilter"},"sorts":{"type":"array","maxItems":3,"items":{"$ref":"#/components/schemas/DatabaseQuerySort"}},"start_cursor":{"type":["string","null"]},"page_size":{"type":"integer","minimum":1,"maximum":100}},"additionalProperties":false},"AppendBlockChildrenRequest":{"type":"object","required":["children"],"properties":{"children":{"type":"array","items":{"$ref":"#/components/schemas/BlockInput"}},"after":{"type":"string"},"before":{"type":"string"}},"not":{"required":["after","before"]},"additionalProperties":false},"UpdateBlockRequest":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"paragraph"},"paragraph":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["paragraph"]},{"type":"object","properties":{"type":{"type":"string","const":"heading_1"},"heading_1":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["heading_1"]},{"type":"object","properties":{"type":{"type":"string","const":"heading_2"},"heading_2":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["heading_2"]},{"type":"object","properties":{"type":{"type":"string","const":"heading_3"},"heading_3":{"$ref":"#/components/schemas/HeadingContent"}},"additionalProperties":false,"required":["heading_3"]},{"type":"object","properties":{"type":{"type":"string","const":"bulleted_list_item"},"bulleted_list_item":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["bulleted_list_item"]},{"type":"object","properties":{"type":{"type":"string","const":"numbered_list_item"},"numbered_list_item":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["numbered_list_item"]},{"type":"object","properties":{"type":{"type":"string","const":"to_do"},"to_do":{"$ref":"#/components/schemas/ToDoContent"}},"additionalProperties":false,"required":["to_do"]},{"type":"object","properties":{"type":{"type":"string","const":"quote"},"quote":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["quote"]},{"type":"object","properties":{"type":{"type":"string","const":"code"},"code":{"$ref":"#/components/schemas/CodeContent"}},"additionalProperties":false,"required":["code"]},{"type":"object","properties":{"type":{"type":"string","const":"callout"},"callout":{"$ref":"#/components/schemas/CalloutContent"}},"additionalProperties":false,"required":["callout"]},{"type":"object","properties":{"type":{"type":"string","const":"divider"},"divider":{"$ref":"#/components/schemas/EmptyObject"}},"additionalProperties":false,"required":["divider"]},{"type":"object","properties":{"type":{"type":"string","const":"bookmark"},"bookmark":{"$ref":"#/components/schemas/BookmarkLikeContent"}},"additionalProperties":false,"required":["bookmark"]},{"type":"object","properties":{"type":{"type":"string","const":"embed"},"embed":{"$ref":"#/components/schemas/BookmarkLikeContent"}},"additionalProperties":false,"required":["embed"]},{"type":"object","properties":{"type":{"type":"string","const":"image"},"image":{"$ref":"#/components/schemas/FileLikeContent"}},"additionalProperties":false,"required":["image"]},{"type":"object","properties":{"type":{"type":"string","const":"file"},"file":{"$ref":"#/components/schemas/FileLikeContent"}},"additionalProperties":false,"required":["file"]},{"type":"object","properties":{"type":{"type":"string","const":"table"},"table":{"$ref":"#/components/schemas/TableContent"}},"additionalProperties":false,"required":["table"]},{"type":"object","properties":{"type":{"type":"string","const":"table_row"},"table_row":{"$ref":"#/components/schemas/TableRowContent"}},"additionalProperties":false,"required":["table_row"]},{"type":"object","properties":{"type":{"type":"string","const":"toggle"},"toggle":{"$ref":"#/components/schemas/BlockTextContent"}},"additionalProperties":false,"required":["toggle"]},{"type":"object","properties":{"type":{"type":"string","const":"equation"},"equation":{"$ref":"#/components/schemas/EquationContent"}},"additionalProperties":false,"required":["equation"]},{"type":"object","properties":{"type":{"type":"string","const":"link_to_page"},"link_to_page":{"$ref":"#/components/schemas/LinkToPageContent"}},"additionalProperties":false,"required":["link_to_page"]}]},"FileUploadRequest":{"type":"object","required":["filename","content_type","content_length","parent"],"properties":{"filename":{"type":"string","minLength":1},"content_type":{"type":"string","enum":["image/jpeg","image/png","image/gif","image/webp","image/svg+xml","image/bmp","image/tiff","application/pdf","application/msword","application/vnd.openxmlformats-officedocument.wordprocessingml.document","application/vnd.ms-excel","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","application/vnd.ms-powerpoint","application/vnd.openxmlformats-officedocument.presentationml.presentation","text/plain","text/csv","text/markdown","text/html","application/zip","application/x-rar-compressed","application/gzip","audio/mpeg","audio/wav","audio/ogg","video/mp4","video/webm","video/quicktime","application/json","application/xml","application/octet-stream"],"description":"Supported MIME type whitelist enforced by the upload URL endpoint."},"content_length":{"type":"integer","minimum":1,"maximum":104857600,"description":"File size in bytes. Maximum is 100 MB."},"parent":{"description":"Upload destination context. The current implementation accepts only page parents and checks write permission for the provided page_id.","type":"object","properties":{"type":{"type":"string","const":"page_id"},"page_id":{"type":"string","format":"uuid","description":"Writable target page id."}},"additionalProperties":false,"required":["page_id"]}},"additionalProperties":false}}},"paths":{"/v2/search":{"post":{"summary":"Search pages, databases, folders and mind maps","operationId":"search","tags":["search"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchRequest"},"example":{"query":"项目计划","filter":{"property":"object","value":"page"},"sort":{"timestamp":"last_edited_time","direction":"descending"},"page_size":10}}}},"responses":{"200":{"description":"Search results","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchListResponse"},"example":{"object":"list","results":[{"object":"page","id":"11111111-1111-4111-8111-111111111111","page_type":"page","created_time":"2026-04-09T08:00:00.000Z","last_edited_time":"2026-04-09T09:30:00.000Z","created_by":{"object":"user","id":"bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb"},"last_edited_by":{"object":"user","id":"cccccccc-cccc-4ccc-8ccc-cccccccccccc"},"parent":{"type":"workspace","workspace":true},"in_trash":false,"icon":{"type":"emoji","emoji":"📄"},"cover":null,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"项目计划","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"text_color":"default","background_color":"default"},"plain_text":"项目计划","href":null}]}},"url":"https://buildin.ai/11111111-1111-4111-8111-111111111111"},{"object":"page","id":"33333333-3333-4333-8333-333333333333","page_type":"folder","created_time":"2026-04-09T08:00:00.000Z","last_edited_time":"2026-04-09T09:30:00.000Z","created_by":{"object":"user","id":"bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb"},"last_edited_by":{"object":"user","id":"cccccccc-cccc-4ccc-8ccc-cccccccccccc"},"parent":{"type":"workspace","workspace":true},"in_trash":false,"icon":{"type":"emoji","emoji":"📄"},"cover":null,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"项目资料","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"text_color":"default","background_color":"default"},"plain_text":"项目资料","href":null}]}},"url":"https://buildin.ai/33333333-3333-4333-8333-333333333333"}],"next_cursor":null,"has_more":false}}}},"400":{"description":"Validation or request format error","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failed","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Permission denied","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limited","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}},"X-RateLimit-Limit":{"description":"Current request quota limit.","schema":{"type":"string"}},"X-RateLimit-Remaining":{"description":"Remaining requests in the current limit window.","schema":{"type":"string"}},"X-RateLimit-Reset":{"description":"Unix timestamp when the current limit window resets.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds to wait before retrying this request.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-required-scopes":["search.read"],"description":"Required scopes: search.read."}},"/v2/search/semantic":{"post":{"summary":"Semantic search","operationId":"semanticSearch","tags":["search"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemanticSearchRequest"},"example":{"query":"如何配置 CI/CD","page_size":3,"score_threshold":0.7}}}},"responses":{"200":{"description":"Semantic search results","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SemanticSearchListResponse"},"example":{"object":"list","results":[{"object":"search_result","page_id":"44444444-4444-4444-8444-444444444444","page_title":"CI/CD 配置指南","score":0.92,"snippet":"项目使用 GitHub Actions 进行持续集成与部署。","url":"https://buildin.ai/44444444-4444-4444-8444-444444444444"}],"next_cursor":null,"has_more":false}}}},"400":{"description":"Validation or request format error","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failed","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Permission denied","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limited","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}},"X-RateLimit-Limit":{"description":"Current request quota limit.","schema":{"type":"string"}},"X-RateLimit-Remaining":{"description":"Remaining requests in the current limit window.","schema":{"type":"string"}},"X-RateLimit-Reset":{"description":"Unix timestamp when the current limit window resets.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds to wait before retrying this request.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-required-scopes":["search.read"],"description":"Required scopes: search.read."}},"/v2/users/me":{"get":{"summary":"Get current bot identity","operationId":"getMe","tags":["users"],"responses":{"200":{"description":"Current bot identity","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BotUser"},"example":{"object":"bot_user","id":"20202020-2020-4020-8020-202020202020","name":"Buildin MCP Integration","workspace_id":"dddddddd-dddd-4ddd-8ddd-dddddddddddd","workspace_name":"演示空间","owner":{"object":"user","id":"aaaaaaaa-aaaa-4aaa-8aaa-aaaaaaaaaaaa"},"capabilities":{"pages.read":true,"pages.write":true,"blocks.read":true,"blocks.write":true,"databases.read":true,"databases.write":true,"search.read":true},"type":"integration","integration_id":"eeeeeeee-eeee-4eee-8eee-eeeeeeeeeeee"}}}},"401":{"description":"Authentication failed","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limited","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}},"X-RateLimit-Limit":{"description":"Current request quota limit.","schema":{"type":"string"}},"X-RateLimit-Remaining":{"description":"Remaining requests in the current limit window.","schema":{"type":"string"}},"X-RateLimit-Reset":{"description":"Unix timestamp when the current limit window resets.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds to wait before retrying this request.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-required-scopes":[],"description":"Authentication required. No additional scopes beyond a valid bearer token."}},"/v2/users/{user_id}":{"get":{"summary":"Get user","operationId":"getUser","tags":["users"],"x-optional-scopes":["users.email.read"],"parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"User UUID.","example":"ffffffff-ffff-4fff-8fff-ffffffffffff"}],"responses":{"200":{"description":"User object","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/User"},"example":{"object":"user","id":"ffffffff-ffff-4fff-8fff-ffffffffffff","type":"person","name":"张三","avatar_url":"https://example.com/avatar.png","person":{"email":null}}}}},"401":{"description":"Authentication failed","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Permission denied","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limited","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}},"X-RateLimit-Limit":{"description":"Current request quota limit.","schema":{"type":"string"}},"X-RateLimit-Remaining":{"description":"Remaining requests in the current limit window.","schema":{"type":"string"}},"X-RateLimit-Reset":{"description":"Unix timestamp when the current limit window resets.","schema":{"type":"string"}},"Retry-After":{"description":"Seconds to wait before retrying this request.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}},"x-required-scopes":["users.read"],"description":"Required scopes: users.read. `person.email` is returned only when the token also has `users.email.read`; otherwise it is `null`."}},"/v2/pages":{"post":{"summary":"Create page","operationId":"createPage","tags":["pages"],"parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"},"description":"Optional idempotency key for safely retrying page creation.","example":"page-create-001"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePageRequest"},"example":{"icon":{"type":"emoji","emoji":"📝"},"properties":{"title":{"type":"title","title":[{"type":"text","text":{"content":"发布计划","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"text_color":"default","background_color":"default"},"plain_text":"发布计划","href":null}]}},"children":[{"object":"block","type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"第一版发布范围与时间安排。","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"text_color":"default","background_color":"default"},"plain_text":"第一版发布范围与时间安排。","href":null}]}}]}}}},"responses":{"200":{"description":"Created page","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page"},"example":{"object":"page","id":"11111111-1111-4111-8111-111111111111","page_type":"page","created_time":"2026-04-09T08:00:00.000Z","last_edited_time":"2026-04-09T09:30:00.000Z","created_by":{"object":"user","id":"bbbbbbbb-bbbb-4bbb-8bbb-bbbbbbbbbbbb"},"last_edited_by":{"object":"user","id":"cccccccc-cccc-4ccc-8ccc-cccccccccccc"},"parent":{"type":"workspace","workspace":true},"in_trash":false,"icon":{"type":"emoji","emoji":"📄"},"cover":null,"properties":{"title":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"发布计划","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"text_color":"default","background_color":"default"},"plain_text":"发布计划","href":null}]}},"url":"https://buildin.ai/11111111-1111-4111-8111-111111111111"}}}},"400":{"description":"Validation or request format error","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Authentication failed","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Permission denied","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Resource not found","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Conflict","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"429":{"description":"Rate limited","headers":{"X-Request-Id":{"description":"Unique request identifier for tracing this API call.","schema":{"type":"string"}},"X-RateLimi
[...]
